{% extends "sensors/base.html" %}

{% block title %}Delete station {{ measuringsation.name }}{% endblock %}

{% block banner_div %}
<h1>Delete a Station</h1>
<p><a href="{% url 'sensors:stations_index' %}">return to stations index</a></p>
{% endblock %}

{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
  <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <input type="submit" value="Confirm">
  </form>
  <a href="{% url 'sensors:stations_index' %}">return to stations index</a>

  </div>
</section>

{% endblock %}
