{% extends "sensors/base.html" %}

{% block title %}Edit station {{ measuringsation.name }}{% endblock %}

{% block banner_div %}
<h1>Edit the parameters</h1>
<p><a href="{% url 'sensors:stations_index' %}">return to stations index</a></p>
{% endblock %}

{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">

    {% if result %}<div class='imp_message'>station added successfully!</div>{% endif %}

    <h4>Enter station details</h4>
    <div class="table-wrapper">

      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Save">
      </form>
    <a href="{% url 'sensors:stations_index' %}">return to stations index</a>

  </div>
</section>

{% endblock %}
