{% extends "sensors/base.html" %}

{% block title %}RPI Sensors Manager - Home{% endblock %}

{% block banner_div %}
<h1>List of measuring stations</h1>
<p> Measuring stations configured : {{ count }}.</p>
{% endblock %}




{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">

        <h4>List of the measuring stations</h4>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody>
              {% for station in page_obj %}
                  <tr>
                    <td><a href="{% url 'sensors:station_detail' station.id %}">{{ station.name }}</a></td>
                    <td>{{ station.description }}</td>
                    <td>{{ station.id }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <a href="{% url 'sensors:station_create' %}">add a station</a>


  </div>
</section>

{% endblock %}
