{% extends "sensors/base.html" %}

{% block title %}Station {{ station.name }}{% endblock %}

{% block banner_div %}
<h1>Station {{ measuringstation.name }}</h1>
<p>{{ measuringstation.description }}.</p>
{% endblock %}


{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">

    {% if msg %}<div class='imp_message'>{{ msg }}</div>{% endif %}

    <a href="{% url 'sensors:station_create' %}">add a station</a> |
    <a href="{% url 'sensors:station_delete' measuringstation.id %}">delete {{ measuringstation.name }}</a> |
    <a href="{% url 'sensors:station_update' measuringstation.id %}">edit {{ measuringstation.name }}</a>
    <p>Station ID : {{ measuringstation.id }}</p>
    <p>station name : {{ measuringstation.name }}</p>
    <p>Description :  <em>{{ measuringstation.description }}</em></p>

    <h4>sensors installed in this station</h4>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>ID</th>
            <th>driver</th>
          </tr>
        </thead>
        <tbody>
        {% for sensor in measuringstation.installed_sensors.all %}
        <tr>
          <td><a href="{% url 'sensors:sensor_detail' sensor.id %}">{{ sensor.name }}</a></td>
          <td>{{ sensor.description }}</td>
          <td>{{ sensor.id }}</td>
          <td>{{ sensor.probe_driver.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'sensors:stations_index' %}">return to stations index</a>

  </div>
</section>

{% endblock %}
