{% extends "sensors/base.html" %}

{% block title %}RPI Sensors Manager - Home{% endblock %}

{% block banner_div %}
<h1>List of supported probes</h1>
<p>There are {{ probes_count }} probes supported right now.</p>
{% endblock %}


{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">

        <h4>List of the supported probes</h4>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>driver name</th>
                <th>description</th>
                <th>unit</th>
                <th>min</th>
                <th>max</th>
              </tr>
            </thead>

            <tbody>
              {% for probe in page_obj %}
                  <tr>
                    <td>{{ probe.name }}</td>
                    <td>{{ probe.description }}</td>
                    <td>{{ probe.unit }} ({{ probe.unit_symbol }})</td>
                    <td>{{ probe.min_value }}</td>
                    <td>{{ probe.max_value }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>

  </div>
</section>

{% endblock %}
