{% extends "sensors/base.html" %}

{% block title %}Sensor {{ sensor.name }}{% endblock %}

{% block banner_div %}
<h1>Sensor {{ sensor.name }}</h1>
<p>{{ sensor.description }}.</p>
{% endblock %}




{% block main_body %}
<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <div class="table-wrapper">
      <table>
        <tbody>
        <tr>
          <td>ID</td>
          <td>{{ sensor.id }}</td>
        </tr>
        <tr>
          <td>name</td>
          <td>{{ sensor.name }}</td>
        </tr>
        <tr>
          <td>description</td>
          <td>{{ sensor.description }}</td>
        </tr>
        <tr>
          <td>driver</td>
          <td>{{ sensor.probe_driver.name }}</td>
        </tr>
        <tr>
          <td>last value</td>
          <td>{{ last.value }} {{ sensor.probe_driver.unit_symbol }}</td>
        </tr>
        <tr>
          <td>last measure timestamp</td>
          <td>{{ last.ts }}</td>
        </tr>
        <tr>
          <td>measure count</td>
          <td>{{ measures_count }}</td>
        </tr>
        <tr>
          <td>min possible value</td>
          <td>{{ sensor.probe_driver.min_value }} {{ sensor.probe_driver.unit_symbol }}</td>
        </tr>
        <tr>
          <td>max possible value</td>
          <td>{{ sensor.probe_driver.max_value }} {{ sensor.probe_driver.unit_symbol }}</td>
        </tr>

        <tr>
          <td>used by</td>
          <td>
            <ul>
            {% for station in sensor.measuringstation_set.all %}
                <li> <a href="{% url 'sensors:station_detail' station.id %}">{{ station.name }}</a></li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <a href="{% url 'sensors:sensors_index' %}">return to sensors index</a>

  </div>
</section>

{% endblock %}
